<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <h1 class="test-light"><a href="/">모먼트 주짓수 게시판</a></h1>
        </div>
        
        <nav id="navbar" class="navbar">
            <ul>
                <li class="active"><a href="/">HOME</a></li>
                <li><a href="/board">Board</a></li>
                <li><a herf="/album">Album</a></li>
                <li><a href="https://respectmm.modoo.at/" target="_blank">WEB</a></li>

                <li><a class="getstarted scrollto" href="/board_write">Get Started</a></li>
            </ul>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->

